{{define "partial:footer"}}
<footer>
    <br>
    <ul style="text-align: right;">
    <a href="/tos">Terms of Service</a>
    <br>
    <a href="/privacy-policy">Privacy Policy</a>
    <br>  
    <a href="/disclaimer">Disclaimer</a>
    <br> 
    <div style="text-align: center;">
    &copy; Disrupt Technologies {{now | formatTime "2006"}} 
    </div>    
    
</footer>
{{end}}
