{{define "page:title"}}Dashboard{{end}}

{{define "page:main"}}
<div class="dashboard-container">
    <div class="dashboard-header">
        <h1>Hi User,  Welcome to Your Dashboard</h1>
    </div>
    <div class="dashboard-menu">
        <ul>
            <li><a href="/dashboard/qr-code/view">View QR Codes</a></li>
            <li><a href="/dashboard/qr-code/create">Create QR Code</a></li>
            <!-- Add more menu items as needed -->
        </ul>
    </div>
    <div class="dashboard-content">
        <p>Here, you can manage your dynamic QR codes.</p>
        <!-- You can add more content or features here -->
    </div>
</div>
{{end}}
