{{define "page:title"}}Dashboard{{end}}

{{define "page:main"}}
<div class="dashboard-container">
    <!-- List of Existing QR Codes -->
    <h2>List of Existing QR Codes</h2>
    <ul>
        {{range .QRCodeList}}
            <li>

                <img src="/../{{.ImagePath}}" alt="QR Code Thumbmail" style="width: 100px; height: auto;">
                QR Code ID: {{.QrcodeID}}, Data: {{.Data}}
                <a href="/dashboard/qr-code/edit?qrcode_id={{.QrcodeID}}" class="btn btn-primary">Edit</a>
                <a href="/dashboard/qr-code/delete?qrcode_id={{.QrcodeID}}" class="btn btn-danger">Delete</a>
                
            </li>
        {{else}}
            <li>No existing QR codes found.</li>
        {{end}}
    </ul>
</div>
{{end}}