{{define "page:title"}}QR Code Bakery{{end}}

{{define "page:main"}}
<style> 
.center {
    text-align: center;
}

form {
    margin-top: 20px;
    }

input[type="text"] {
    padding: 8px;
    width: 250px;
    } 

input[type="submit"] {
    padding: 8px  16px; 
    background-color: #4CAF50;
    width: 170px; 
    color: white;
    border: none;
    cursor: pointer;  
    }


    /* Style for download button */

.center button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.center button:hover {
    background-color: #005f7f;
}  

.radio-options {
    margin-top: 20px;
    text-align: center;
}


.radio-options label {
    margin-right: 20px;
}



    
</style>
<p class="center">Welcome to QR Code Bakery.</p>
<br>
<div class="center">Please enter the data you want to QR Encode:</div> 
<div class="center">
<form action="/generate" method="post">
<div class="radio-options center">
    <input type="radio" id="url" name="dataType" value="URL"> 

    <label for="url">URL</label>

    <input type="radio" id="contact" name="dataType" value="Contact">
    <label for="contact">Contact Information</label>

    <input type="radio" id="wifi" name="dataType" value="WiFi" >
    <label for="wifi">WiFi Credentials</label>
</div>
<input type="text" id="dataString" name="dataString" placeholder=" Enter data here...">  
<input type="submit" value="Generate QR Code"> 
</form>
</div>  

{{ if ne .QRCodeImagePath "" }}
<div class="center">
<img src="{{.QRCodeImagePath}}" alt="QR Code">
</div>
   <div class="center">
    <a href="{{.QRCodeImagePath}}" download="generated_qr_code.jpg">
    <button>Download QR Code</button>
    </a>
    </div>
{{ end }}
{{end}}   