{{define "page:title"}}Privacy Policy{{end}}

{{define "page:main"}}
<div>

<h1> Privacy Policy </h1>
<p><strong>Effective Date:</strong> March 10, 2024</p>
<br>
<div>
<p>Thank you for using QRCodeBakery! This Privacy Policy outlines how we collect, use, and protect your personal information when you interact with our QR code generator app. By using QRCodeBakery, you agree to the terms described below.</p>
    <br>
    <h2>Information We Collect:</h2>
<ul>
    <li><strong>User-Provided Data:</strong> When you use QRCodeBakery, you may provide us with data such as URLs, contact information (Vcard details), or WiFi credentials.</li>
    <li><strong>Automatically Collected Data:</strong> We collect technical information, including IP addresses, device type, browser details, and usage patterns.</li>
</ul>

<br>
<h2>How We Use Your Information:</h2>
<ul>
    <li>We use the data you provide to generate QR codes based on your input.</li>
    <li>We may analyze aggregated usage data to improve our services and enhance user experience.</li>
</ul>
 <br>
<h2>Data Security:</h2>
<p>We take reasonable measures to protect your data from unauthorized access, loss, or misuse. However, no method of transmission over the internet is completely secure, so use QRCodeBakery at your own risk.</p>

<h2>Third-Party Services:</h2>
<p>QRCodeBakery may use third-party services (e.g., hosting providers, analytics tools). Their privacy policies apply when you interact with those services.</p>

<h2>Cookies and Tracking:</h2>
<p>We do not use cookies or tracking technologies within QRCodeBakery.</p>

<h2>Updates and Changes:</h2>
<p>We may update this Privacy Policy as needed. Check our website for the latest version.</p>

<h2>Contact Us:</h2>
<p>If you have any questions or concerns about this Privacy Policy, please contact us at <a href="mailto:contact@danieloo.com">contact@danieloo.com</a>.</p>

<p>Remember that QRCodeBakery is provided “as is,” and we do not guarantee absolute security or accuracy. Use QR codes generated by our app responsibly and in compliance with applicable laws.</p>

<p>Thank you for trusting QRCodeBakery! 🌟</p>

</div>

{{end}}  