{{define "page:title"}}Terms of Service{{end}}

{{define "page:main"}}

<h1> Terms of Service</h1>
<br>
<div>
<p>Welcome to QR Code Bakery! These terms and conditions outline the rules and regulations for the use of our open-source web application.</p>
    
    <p>By accessing and using this web application, you agree to these terms and conditions. If you do not agree with any part of these terms and conditions, you must not use our web application.</p>
    
    <h2>License and Usage</h2>
    
    <p>QR Code Bakery is open source software distributed under the MIT license. By accessing and using our web application, you agree to comply with the terms of this license, which govern your use, modification, and redistribution of the software.</p>
    
    <h2>Liability and Warranty</h2>
    
    <p>QR Code Bakery is provided "as is," without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose, and non-infringement. In no event shall the authors or copyright holders be liable for any claim, damages, or other liability, whether in an action of contract, tort, or otherwise, arising from, out of, or in connection with the software or the use or other dealings in the software.</p>
    
    <h2>Contributions</h2>
    
    <p>We welcome contributions from the community to improve QR Code Bakery. By contributing to our web application, you agree to license your contributions under the same MIT license as the rest of the project. You also agree that your contributions do not infringe any third-party rights or violate any applicable laws or regulations.</p>
    
    <h2>Changes to This Agreement</h2>
    
    <p>We reserve the right, at our sole discretion, to modify or replace these Terms of Service at any time. By continuing to access or use our web application after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use our web application.</p>
    
    <h2>Contact Us</h2>
    
    <p>If you have any questions about these Terms of Service, You can contact us:</p>
    
    <ul>
        <li>By email: <a href="mailto:hey@danieloo.com">hey@danieloo.com</a> </li>
        <li>By visiting the contact page on our Author's website: <a href="https://danieloo.com/contact/">https://danieloo.com/contact/</a>.</li>
    </ul>
    
</div>

{{end}}  